a { color: inherit; }
a:hover{
  text-decoration: none;
  color: inherit;
}

.hover_icons a{
  margin-left: 20px;
  color: #C5C5C5;
}

.hover_icons a:hover{
  text-decoration: underline;
}

.heart-icon{
  color:red;
}

.footer-text{
  font-family: "Monaco", serif;
  font-size:1.2em;
  color: #57CB7C;
  padding-top:15px;
}

.footer{
  background-color: #262626;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}


.resume-link:hover{
  border-bottom: 10px solid inherit;
  display: inline-block;
  line-height: 0.85;
}
